<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.admin.mapper.SysUserMapper">

    <select id="selectAuthoritiesByUserId" resultType="java.lang.String">
        SELECT DISTINCT sm.authority
        FROM sys_menu sm
                 JOIN sys_role_menu srm ON sm.id = srm.menu_id
                 JOIN sys_user_role sur ON srm.role_id = sur.role_id
        WHERE sur.user_id = #{userId}
          AND sm.deleted = 0
          AND srm.deleted = 0
          AND sur.deleted = 0
          AND sm.authority IS NOT NULL
    </select>
</mapper>
